button { cursor: pointer; }

body { font-family: "Montserrat", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #000; background: -webkit-gradient(linear, left top, right bottom, from(#edc1d3), to(#91bdec)); background: linear-gradient(to bottom right, #edc1d3 0%, #91bdec 100%); min-height: 100vh; width: 100vw; background-repeat: no-repeat; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; overflow-x: scroll; background-size: cover; position: relative; top: 0; left: 0; z-index: -3; }

.leftyear, .rightyear { display: block; z-index: 50; width: 100px; height: 400px; position: absolute; color: #fff; opacity: .5; font-size: 14em; padding: 0; }

.leftyear { left: 0; bottom: -.55em; -webkit-transform: scale(1, 2) translateX(-270px); transform: scale(1, 2) translateX(-270px); }

.rightyear { right: .75em; top: .45em; -webkit-transform: scale(1, 2) translateX(270px); transform: scale(1, 2) translateX(270px); }

@-webkit-keyframes addtask_anim { from { -webkit-transform: scale(0.9); transform: scale(0.9);
    opacity: .9; }
  to { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes addtask_anim { from { -webkit-transform: scale(0.9); transform: scale(0.9);
    opacity: .9; }
  to { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes additionally { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes additionally { from { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes next-year { from { background-position: -140px 0;
    text-shadow: #fff 2px 2px; }
  to { background-position: 140px 0;
    text-shadow: #fff 2px 2px; } }

@keyframes next-year { from { background-position: -140px 0;
    text-shadow: #fff 2px 2px; }
  to { background-position: 140px 0;
    text-shadow: #fff 2px 2px; } }

@-webkit-keyframes prev-year { from { background-position: 140px 0;
    text-shadow: #fff 2px 2px; }
  to { background-position: -140px 0;
    text-shadow: #fff 2px 2px; } }

@keyframes prev-year { from { background-position: 140px 0;
    text-shadow: #fff 2px 2px; }
  to { background-position: -140px 0;
    text-shadow: #fff 2px 2px; } }

@-webkit-keyframes more-visible { from { opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  to { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes more-visible { from { opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  to { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes fade { from { opacity: .3; }
  to { opacity: 1; } }

@keyframes fade { from { opacity: .3; }
  to { opacity: 1; } }

.container { padding: 36px; padding-bottom: 0; width: calc(1374px - 76px); min-height: 825px; display: -ms-grid; display: grid; margin: 20px 0 20px 0; -ms-flex-line-pack: start; align-content: start; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 32px 1fr 104px; grid-template-rows: 32px 1fr 104px; grid-column-gap: 0px; grid-row-gap: 0px; background-color: #fff; border-radius: 30px; -webkit-box-shadow: 0px 4px 40px #8CA4D8; box-shadow: 0px 4px 40px #8CA4D8; grid-auto-flow: column; }

.container__top { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 32px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.container__search-form { height: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.container__switch a { margin-left: 14px; height: 28px; width: 28px; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 2px solid #338cd4; text-decoration: none; color: #fff; font-family: "Poppins", sans-serif; font-size: 14px; }

.container__switch a img { width: 18px; height: 18px; }

.container__search { width: 250px; height: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: auto; }

.container__search-icon { width: 20px; height: 20px; }

.container__search input { width: 230px; outline: none; border: 0; margin-left: 12px; outline-offset: 0; -webkit-box-shadow: none; box-shadow: none; color: #90A0B7; font-family: "Montserrat", sans-serif; color: #90A0B7; }

.container__search input::-webkit-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.container__search input:-ms-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.container__search input::-ms-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.container__search input::placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.container__notification { width: 32px; height: 32px; display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-items: center; }

.container__notification-button { width: 24px; height: 24px; position: relative; outline: none; background-color: #fff; border: none; }

.container__notification-button:hover { cursor: pointer; }

.container__notification img { position: relative; left: -6px; width: 24px; height: 24px; }

.container__profile { display: -webkit-box; display: -ms-flexbox; display: flex; width: 32px; height: 32px; margin-left: 28px; border-radius: 50%; background: #884cb2; background: radial-gradient(circle, #884cb2 50%, #fd648e 100%); }

.container__profile a { display: -ms-grid; display: grid; justify-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 32px; height: 32px; }

.container__profile a img { width: 26px; height: 26px; border-radius: 50%; border: 1px solid #fff; }

.container__main { -ms-grid-row: 2; -ms-grid-row-span: 1; -ms-grid-column: 1; -ms-grid-column-span: 1; grid-area: 2 / 1 / 3 / 2; display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 48px; width: 100%; height: auto; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.container__task { -ms-flex-preferred-size: calc(100% - 320px); flex-basis: calc(100% - 320px); }

.container__task-header { gap: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; height: 54px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.container__task-header h1 { font-family: "Poppins", sans-serif; font-weight: 700; font-size: 36px; color: #000; margin: 0; padding: 0; }

.container__task-header h1 span { color: #F3477A; }

.container__task-header button { background-color: #884CB2; font-family: "Poppins", sans-serif; font-size: 12px; width: 140px; height: 34px; border-radius: 10px; outline: none; border: 0; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: -webkit-box-shadow .2s ease-in; transition: -webkit-box-shadow .2s ease-in; transition: box-shadow .2s ease-in; transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in; }

.container__task-header button:hover { -webkit-box-shadow: inset 0 0 12px 3px rgba(30, 30, 30, 0.25); box-shadow: inset 0 0 12px 3px rgba(30, 30, 30, 0.25); }

.container__task-header button img { margin-right: 4px; }

.container__calendar { -ms-flex-preferred-size: calc(100% - 320px); flex-basis: calc(100% - 320px); }

.container__footer { width: calc(100% - 4px); margin-left: -36px; border-radius: 0 0 30px 30px; -webkit-box-shadow: 0px 4px 40px 0px rgba(34, 60, 80, 0.1); box-shadow: 0px 4px 40px 0px rgba(34, 60, 80, 0.1); height: 104px; background-color: #fff; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 38px; }

.container__footer > button { background-color: #3A91C1; font-family: "Poppins", sans-serif; font-size: 18px; width: 209px; height: 60px; border-radius: 10px; outline: none; border: 0; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: -webkit-box-shadow .2s ease-in; transition: -webkit-box-shadow .2s ease-in; transition: box-shadow .2s ease-in; transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in; }

.container__footer > button img { margin-right: 8px; }

.container__footer > button:hover { cursor: pointer; -webkit-box-shadow: inset 0 0 12px 3px rgba(30, 30, 30, 0.25); box-shadow: inset 0 0 12px 3px rgba(30, 30, 30, 0.25); }

.container__tabs { font-size: 12px; font-family: "Poppins", sans-serif; border-radius: 25px; background-color: #F0EFF0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 40px; padding: 10px 20px; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.container__tabs-li a { text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; color: #979797; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 14px 24px; }

.container__tabs-li svg { margin-right: 8px; width: 16px; height: 16px; fill: #B8BEC1; }

.container__tabs ul { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 449px; flex-basis: 449px; color: #979797; padding: 0; }

.container__tabs-li_active a { color: #fff !important; background-color: #3A91C1; border-radius: 25px; -webkit-transition: background .6s, color .3s linear; transition: background .6s, color .3s linear; }

.container__tabs-li_active a svg { fill: #fff; -webkit-transition: fill .3s linear; transition: fill .3s linear; }

.tasks { height: auto; padding: 0; margin: 0; margin-top: 20px; font-family: "Poppins", sans-serif; margin-left: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.tasks h2 { font-family: "Poppins", sans-serif; font-weight: 300; font-size: 18px; }

.tasks h2 + span { -webkit-transform: scale(0.6); transform: scale(0.6); position: relative; top: 0px; border-radius: 12px; -ms-flex-preferred-size: 100px; flex-basis: 100px; text-align: center; padding: 2px 0 !important; }

.tasks > ul { margin: 0; padding: 0; list-style: none; }

.tasks > ul > li { min-height: 24px; font-family: "Montserrat", sans-serif; font-size: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; width: 95%; gap: 38px; position: relative; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #E0E0E0; padding: 6px 30px 6px 18px; background: no-repeat left center url("../img/li.svg"); }

.tasks > ul > li:last-child { border: none; }

.tasks__text { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-right: auto; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; overflow-x: hidden; -ms-flex-preferred-size: 500px; flex-basis: 500px; }

.tasks__more { background-color: #F2F2F2; border-radius: 50%; -ms-flex-preferred-size: 22px; flex-basis: 22px; width: 22px; height: 22px; outline: none; border: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-weight: bold; color: #DCD9D9; }

.tasks__more:hover { cursor: pointer; }

.tasks__user { -ms-flex-preferred-size: 80px; flex-basis: 80px; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0; list-style: none; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; flex-basis: 80px; height: 22px; }

.tasks__user li { padding: 0; width: 22px; height: 22px; margin-left: -6px; }

.tasks__status { width: 90px; -ms-flex-preferred-size: 90px; flex-basis: 90px; padding: 2px; border-radius: 10px; background-color: #fff; font-size: 12px; text-align: center; color: #5C626D; }

.tasks__status_completed { background-color: rgba(39, 174, 96, 0.2); color: #27AE60; }

.tasks__status_pending { background-color: rgba(242, 153, 74, 0.2); color: #F2994A; }

.tasks__status_inprogress { background-color: rgba(86, 204, 242, 0.2); color: #56CCF2; }

.tasks__status_canceled { background-color: rgba(235, 87, 87, 0.2); color: #EB5757; }

.tasks__importance { font-size: 14px; width: 70px; -ms-flex-preferred-size: 70px; flex-basis: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; text-align: left; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tasks__importance_minor::before { border: 2px solid #219653; content: ""; width: 4px; height: 4px; border-radius: 50%; margin-right: 4px; }

.tasks__importance_normal::before { border: 2px solid #F2C94C; content: ""; width: 4px; height: 4px; border-radius: 50%; margin-right: 4px; }

.tasks__importance_critical::before { border: 2px solid #EB5757; content: ""; width: 4px; height: 4px; border-radius: 50%; margin-right: 4px; }

.tasks__completed { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 10px; }

.tasks_completed li { background: no-repeat left center url("../img/li_completed.svg"); }

.tasks_completed li > * { opacity: .5; }

.tasks_completed .addtask__additionally { opacity: 1; }

.message { width: 294px; height: 100%; }

.message ul { font-family: "Poppins", sans-serif; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0; margin: 0; gap: 32px; }

.message ul li { margin: 0; }

.message-human { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-preferred-size: 100%; flex-basis: 100%; gap: 26px; }

.message-human__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.message-human__img a { background: #3a91c1; background: radial-gradient(circle, #3a91c1 0%, #40c6d5 50%, #3a91c1 100%); display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 38px; height: 38px; border-radius: 50%; }

.message-human__img a img { border: 1px solid #fff; border-radius: 50%; width: 32px; height: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.message-human__text { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.message-human__text_attention-pink { color: #F3477A; }

.message-human__text_attention-violet { color: #884CB2; }

.message-human__text_attention-yellow { color: #F7BD40; }

.message-human__text h6 { font-family: "Montserrat", sans-serif; color: #24272C; font-size: 12px; margin: 0; margin-bottom: 4px; padding: 0; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.message-human__text > span { font-size: 10px; color: #7D859A; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; margin-left: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.message-human__text p { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; font-size: 10px; color: #555; margin: 0; padding: 0; }

.message-human__text p span { font-weight: bold; }

.message-human__attach { height: 60px; -ms-flex-preferred-size: 230px; flex-basis: 230px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; gap: 16px; margin-top: 16px; }

.message-human__attach div:nth-child(1) { background-color: #fff; width: 158px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; border-radius: 5px; border: 1px solid #E2E0E0; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15); }

.message-human__attach div:nth-child(1) img { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; margin: 0; }

.message-human__attach div:nth-child(1) p { font-size: 10px; color: #555; font-family: "Poppins", sans-serif; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin-bottom: 4px; }

.message-human__attach div:nth-child(1) p:last-child { color: #979797; font-size: 8px; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.message-human__attach div:nth-child(2) { background-color: #EBE9E9; border: 1px solid #E2E0E0; width: 37px; height: 60px; border-radius: 5px; color: #555; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.message-human__comment { width: 225px; height: 71px; background-color: #F3F3F3; font-family: "Poppins", sans-serif; border-radius: 10px; padding: 20px 14px; margin-top: 20px; margin-left: -20px; }

.message-human__comment p { font-size: 12px; line-height: 20px; }

.message-notification { background: #dae4f4; background: -webkit-gradient(linear, left top, right top, from(#dae4f4), color-stop(50%, #d3dcf1)); background: linear-gradient(90deg, #dae4f4 0%, #d3dcf1 50%); padding: 20px 12px; border-radius: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: baseline; align-content: baseline; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.message-notification h6 { font-size: 12px; font-family: "Montserrat", sans-serif; color: #5787A4; -webkit-box-flex: 1; -ms-flex: 1 1 60%; flex: 1 1 60%; margin: 0; font-weight: normal; }

.message-notification span { font-size: 10px; color: #7D859A; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.message-notification p { -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; color: #555; font-size: 10px; }

.message-system { padding: 0px 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: baseline; align-content: baseline; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.message-system h6 { font-size: 12px; font-family: "Montserrat", sans-serif; color: #5787A4; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin: 0; }

.message-system > span { font-size: 10px; color: #7D859A; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; margin-left: 10px; }

.message-system p { font-family: "Poppins", sans-serif; -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; color: #555; font-size: 12px; margin: 0; margin-top: 10px; }

.calendar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.calendar__days { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 40px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.calendar__days-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 0px; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.calendar__days-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-preferred-size: 100%; flex-basis: 100%; border: 2px solid #e0e0e0; border-radius: 10px; }

.calendar__month { position: relative; margin-top: 40px; }

.calendar__month-list { gap: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-preferred-size: 100%; flex-basis: 100%; border-radius: 10px; }

.calendar__header { max-height: 42px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 0 42px; flex: 0 0 42px; font-family: "Poppins", sans-serif; gap: 20px; }

.calendar__day-today div div { -webkit-box-flex: 0; -ms-flex: 0 0 197px; flex: 0 0 197px; height: 40px; border-radius: 10px; font-size: 12px; color: #5787A4; padding: 0px 24px; border: 1px solid #5787A4; border-radius: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #fff; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 10px; cursor: inherit; }

.calendar__month-scroll { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; height: 40px; font-size: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #666; padding: 0 20px; }

.calendar__month-scroll p { padding: 0; margin: 0; width: 154px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.calendar__year-scroll { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-box; display: -ms-flexbox; display: flex; color: #666; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 20px; }

.calendar__year-scroll p { padding: 0; margin: 0; width: 154px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.calendar__scroll-container { width: 180px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 40px; }

.calendar__scroll-container p.next-year { background: -webkit-gradient(linear, right top, left top, from(#608da9), to(#608da9)); background: linear-gradient(-90deg, #608da9 0%, #608da9 100%); -webkit-animation: next-year 1s ease-in-out; animation: next-year 1s ease-in-out; background-repeat: no-repeat; }

.calendar__scroll-container p.prev-year { background: -webkit-gradient(linear, right top, left top, from(#608da9), to(#608da9)); background: linear-gradient(-90deg, #608da9 0%, #608da9 100%); -webkit-animation: prev-year 1s ease-in-out; animation: prev-year 1s ease-in-out; background-repeat: no-repeat; }

.calendar__arrow-left, .calendar__arrow-right { width: 24px; height: 24px; border: 0; background: url("../img/Arrow.svg"); }

.calendar__arrow-left { -webkit-transform: scale(-1, 1); transform: scale(-1, 1); }

.calendar__choose { -webkit-box-flex: 0; -ms-flex: 0 0 85px; flex: 0 0 85px; height: 40px; font-size: 12px; border: 1px solid #DADADA; border-radius: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

.calendar__choose a { text-decoration: none; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #979797; }

.calendar__choose_active { border: 1px solid #5787A4; -webkit-transition: all .7s linear; transition: all .7s linear; }

.calendar__choose_active a { color: #5787A4; }

.day { -webkit-box-flex: 1; -ms-flex: 1 1 115px; flex: 1 1 115px; padding: 10px; height: 56px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-shadow: 0px 0px 0px 1px #e0e0e0; box-shadow: 0px 0px 0px 1px #e0e0e0; font-family: "Poppins", sans-serif; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 14px; color: #666; overflow-x: visible; position: relative; }

.day:nth-child(1) { border-radius: 10px 0 0 0; }

.day:nth-child(7) { border-radius: 0 10px 0 0; }

.day:nth-child(36) { border-radius: 0 0 0 10px; }

.day:nth-child(42) { border-radius: 0 0 10px 0; }

.day_current { background: #F5F5F5; }

.day_active { -webkit-box-shadow: 0 0 1px 2px rgba(136, 76, 178, 0.8); box-shadow: 0 0 1px 2px rgba(136, 76, 178, 0.8); z-index: 1; background-color: rgba(136, 76, 178, 0.15); }

.day__list { display: block; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; top: 34px; z-index: 1; }

.day__task { border-radius: 10px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 3px 6px; height: 10px; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 8px; }

.day__task > img { border-radius: 50%; height: 14px; width: 14px; margin-left: -3px; }

.day__task > p { color: #fff; font-size: 8px; word-break: keep-all; margin: 0; white-space: nowrap; }

.day__task_red { background-color: #E02329; }

.day__task_yellow { background-color: #F7BD40; }

.day__task_orange { background-color: #DF632E; }

.day__month_previous, .day__month_next { color: #B8B8B8; }

.day__month_current { cursor: pointer; }

.day__name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 24px; padding: 12px; -webkit-box-shadow: none; box-shadow: none; }

.day__info { background-color: #AE08CA; background-image: radial-gradient(at 15% 16%, #4f0fc7 0, rgba(79, 15, 199, 0) 50%); width: 320px; height: 210px; position: absolute; border-radius: 10px; }

.day__info::before { content: ""; display: block; width: 320px; height: 210px; background-color: #fff; opacity: .2; background-image: radial-gradient(at 85% 100%, #f46c90 0, rgba(244, 108, 144, 0) 50%); }

.day__info::after { content: ""; display: block; width: 320px; height: 210px; position: absolute; background-color: #fff; opacity: .2; bottom: 0; background-image: radial-gradient(at 12% 83%, #f46c90 0, rgba(244, 108, 144, 0) 50%); }

.day__more { background-color: #AE08CA; background-image: radial-gradient(at 15% 16%, RGBa(0, 0, 205, 0.8) 0, RGBa(0, 0, 205, 0) 50%); width: 320px; height: 210px; position: absolute; border-radius: 10px; overflow: hidden; z-index: 1; -webkit-animation: more-visible .5s; animation: more-visible .5s; -webkit-animation-fill-mode: backwards; animation-fill-mode: backwards; -webkit-box-shadow: 0px 0px 20px 2px rgba(176, 18, 186, 0.2); box-shadow: 0px 0px 20px 2px rgba(176, 18, 186, 0.2); }

.day__more::before { content: ""; display: block; width: 320px; height: 210px; z-index: 2; opacity: .4; background-image: radial-gradient(at 5% 100%, RGBa(139, 0, 139, 1) 0, RGBa(139, 0, 139, 0) 50%); position: absolute; }

.day__more::after { content: ""; display: block; width: 320px; height: 210px; z-index: 2; position: absolute; opacity: 1; border-radius: 10px; bottom: 0; background-image: radial-gradient(at 100% 100%, RGBa(255, 135, 135, 0.5) 0%, RGBa(255, 135, 135, 0) 50%); }

.month { padding: 40px; -webkit-box-flex: 1; -ms-flex: 1 1 240px; flex: 1 1 240px; height: 46px; display: -webkit-box; display: -ms-flexbox; display: flex; font-family: "Poppins", sans-serif; font-size: 14px; margin: 0; color: #666; position: relative; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #666; -webkit-transition: all .15s linear; transition: all .15s linear; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 3px solid rgba(0, 0, 0, 0); }

.month:hover { cursor: pointer; color: #000; font-size: 18px; }

.month_current { font-size: 18px; color: #000; }

.more__body { width: calc(100%-32px); height: 100%; padding: 24px 16px; z-index: 5; gap: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; background-color: rgba(255, 255, 255, 0.4); }

.more__title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 24px; width: 100%; gap: 10px; }

.more__title-text { color: #fff; font-size: 10px; font-family: "Poppins", sans-serif; margin: 0; }

.more__title-user-count { height: 22px; width: 22px; border-radius: 50%; background-color: rgba(255, 255, 255, 0.3); border: 1px solid #fff; font-size: 8px; font-family: "Poppins", sans-serif; font-weight: 500; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.more__title-user-photo { width: 24px; height: 24px; }

.more__text { font-weight: 200; font-size: 10px; font-family: "Poppins", sans-serif; color: rgba(255, 255, 255, 0.7); padding: 10px; }

.more__text p { margin: 0; }

.more__statistic { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; color: #fff; font-family: "Poppins", sans-serif; font-size: 10px; width: calc(100% - 20px); }

.more__statistic div { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; gap: 6px; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.addtask__container { width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.9); position: fixed; top: 0; z-index: 5; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.addtask__body { -webkit-animation: addtask_anim .3s linear backwards; animation: addtask_anim .3s linear backwards; width: 600px; height: 360px; background-color: #fff; border-radius: 10px; -webkit-box-shadow: 0 0 10px 10px #000; box-shadow: 0 0 10px 10px #000; position: relative; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.addtask__form { width: 100%; height: 284px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.addtask__text { border: #eee 1px solid; padding: 10px; width: calc(100% - 20px); border-radius: 10px; -ms-flex-preferred-size: 1em; flex-basis: 1em; }

.addtask__text::-webkit-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.addtask__text:-ms-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.addtask__text::-ms-input-placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.addtask__text::placeholder { font-family: "Montserrat", sans-serif; font-size: 12px; color: #90A0B7; }

.addtask__title { -ms-flex-preferred-size: 1 1 100%; flex-basis: 1 1 100%; margin: 0; margin-bottom: 1em; }

.addtask__submit { justify-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; background-color: #884CB2; font-family: "Poppins", sans-serif; font-size: 12px; width: 140px; height: 34px; border-radius: 10px; outline: none; border: 0; color: #fff; cursor: pointer; }

.addtask__status { background-color: #fff; border: 1px solid #eee; border-radius: 10px; padding: 10px; }

.addtask__status option { border: 0; }

.addtask__additionally { position: absolute; -webkit-transform: translateX(180px) translateY(68px); transform: translateX(180px) translateY(68px); width: 140px; height: 140px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; z-index: 2; background-color: #eee; border-radius: 10px; opacity: 1; padding: 10px; -webkit-animation: additionally .2s linear; animation: additionally .2s linear; -webkit-animation-fill-mode: backwards; animation-fill-mode: backwards; -webkit-box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.2); box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.2); }

.addtask__additionally form { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.li__fade { -webkit-animation: fade .4s linear; animation: fade .4s linear; -webkit-animation-fill-mode: backwards; animation-fill-mode: backwards; }
